body {
    background: #ffffff;
}
#canvas {
    margin-left: 10px;
    margin-top: 10px;
    background: #ffffff;
    border: thin solid #aaaaaa;
}
h1 {
    font-family: "Helvetica", sans-serif;
    line-height: 90%;
    font-size: 52px;
}
h2
{
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 70%;
    font-size: 42px;
}
.picButton {
	-moz-box-shadow:inset 8px -10px 5px #b8b8b9;
	-webkit-box-shadow:inset 8px -10px 5px #b8b8b9;
	box-shadow:inset 8px -10px 5px #b8b8b9;
	background-color:#e8e8ee;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #535460;
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size:60px;
	font-weight: bold;
	width: 40vw;
	height: 30vh;
	text-decoration:none;
	background-size:26vh;
	background-repeat: no-repeat;
	background-position: 20px 5px;
	margin-top: 5px;
	margin-bottom: 2px;
	margin-left: 4px;
	padding-left: 35vh;
	margin-right: 8px;
	text-align: left;
	outline: none;
}
.nextButton {
	float:centre; 
	color:#192857;
	width: 33vw; 
	background-size:auto 17vh; 
	font-size:80px; 
	height: 20vh; 
	padding-left: 18vh; 
}
.destButton {
	float:centre; 
	color:#41719C; 
	width: 28vw; 
	height: 12vh; 
	padding-left: 20px; 
	text-align: center;
}
